*.pyc
*.xml
*.idea
*.log
/.idea
.idea/
#/Downloads
#Downloads/
/__pycache__
__pycache__/
/tmp
tmp/
/uploads
uploads/
vcore/uploads
/vcore/uploads
*.log
PriorityQueue/terminal.queue
*.sqlite3
*.zip
*node_modules
package-lock.json
*.log
*.ignore
*.db
vcore_api/dist/
*.egg-info
*.ignore*
/dist/
dist/
/dist
