*.pyc
*.xml
*.idea
*.log
/.idea
.idea/
#/Downloads
#Downloads/
/__pycache__
__pycache__/
/tmp
tmp/
/Uploads
Uploads/
*.log
PriorityQueue/terminal.queue
*.sqlite3
*.zip
*node_modules
package-lock.json
*.log
*.ignore
*.db
